<%- include('partials/header') -%>

    <section>
        <h1>Create Your VERY OWN Travel Blog!</h1>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </section>

<%- include('partials/footer') -%>